.BgRight {
    position: absolute;
    max-width: 50%;
    width: 100%;
    height: auto;
    bottom: -30%;
    right: -5%;
    z-index: -1;
}


.BgLeft {
    position: absolute;
    max-width: 50%;
    width: 100%;
    height: auto;
    top: -30%;
    left: -5%;
    z-index: -1;
}

@media (max-width: 700px) {

    .BgLeft {
        max-width: fit-content;
        left: auto;
        bottom: 10em;
        right: clamp(5em, 50vw, 20em);
    }
    

    .BgRight {
        max-width: fit-content;
        top: 10em;
        left: clamp(5em, 50vw, 20em);   
    }
    
}