.BgRight {
    position: absolute;
    width: fit-content;
    height: auto;
    bottom: -30%;
    right: -5%;
    //top: 20em;
    //left: 50em;
    z-index: -1;
}


.BgLeft {
    position: absolute;
    width: fit-content;
    height: auto;
    top: -30%;
    left: -5%;
    z-index: -1;
}

@media (max-width: 700px) {

    .BgLeft {
        left: auto;
        bottom: 10em;
        right: clamp(5em, 50vw, 20em);
    }
    

    .BgRight {
        top: 10em;
        left: clamp(5em, 50vw, 20em);   
    }
    
}